<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/images/INEGI_g1.png" alingt="letf" height="42" width="180" style="margin-top:15px;" />
        </div>
        <div class="col-sm-4"></div>
            <div class="col-sm-2" style="padding-right:0">
                <img src="~/images/Logo-usuarios-2024(02).png" style=" padding-right:10px" align="right" height="70" width="122" />
                @*<p class="font-weight-bold" style="color: #241178; font-size: 32px" align="right">Usuarios</p>
                <p style="color: #0094ff;font-size: 48px; vertical-align: text-top; font-family: 'Arial Rounded MT'; line-height:30%" align="right">DWH</p>*@
            </div>
        </div>
    <div class="row">
        <div class=" col-sm-12" style="padding-bottom:10px"></div>
    </div>
    </div>
