
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">

                <img class="thumbnail img-responsive" style="border:none; margin-bottom:7px" src="~/images/linea_dwh.png" />
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <p style="        color: #113250;
        font-size: small;
        font-weight: bold;
        align-content: stretch">Coordinación General de Informática</p>
                </div>
                <div class="col-sm-2"  align="right">
                    <span style="color: #113250; font-size: small">Versión: @await Html.PartialAsync("~/Views/Shared/version.cshtml")</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p align="left" style="color: #113250; font-size: small">Dirección de Integración de la Información en Base de Datos</p>

                </div>
                <div class="col-lg-4">
                    <p align="right" style="color: #113250; margin-right: 0px; font-weight: bold">Contacto:</p>
                </div>

                <div class="col-sm-2">
                    <a href="mailto:soporte.ptie@inegi.org.mx">soporte.ptie@inegi.org.mx</a>
                </div>
            </div>
        </div>
    </footer>
