@{
    ViewData["Title"] = "Saset";
}
@*<h2>@ViewData["Title"]</h2>*@
@*<h3>@ViewData["Message"]</h3>*@
<html lang="en-US">
<head>
    <meta charset="UTF-8">
 @*   <meta http-equiv="refresh" content="0; url=http://10.1.32.126:3134/Gestion/SASET/login-SASI.html">*@
    <script type="text/javascript">
        
        //window.location.href = "http://10.1.32.126:3134/Gestion/SASET/login-SASI.html" 
        //target = "_blank"
        window.open('http://10.1.32.126:3134/Gestion/SASET/login-SASI.html', '_blank');
    </script>
   @* <title>Page Redirection</title>*@
</head>
<body>
    <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
  @*  If you are not redirected automatically, follow this <a href='http://example.com'>link to example</a>.*@
</body>
</html>

<a href="http://10.1.32.126:3134/Gestion/SASET/login-SASI.html" target="_blank"> Ir a SASET</a>

